@model StoryMapper.UI.Models.ProjectStoriesViewModel
@{
    ViewBag.Title = "Stories";
}
<h2>@(Model.ProjectName)</h2>
<table class="storyBoard">
    <tr>
        @{        
            foreach (var story in Model.Stories)
            {
            <td>
                <table class="storyBoard">
                    <tr>
                        <td>
                            <div class="sticky header-story sticky-shadow header-text">
                                @(story.Name)
                            </div>
                        </td>
                    </tr>
                    @foreach (var childStory in story.Stories)
                    {
                        <tr>
                            <td>
                                <table class="storyBoard">
                                    <tr>
                                        <td>
                                            <div class="sticky main-story sticky-shadow sticky-text">
                                                @(childStory.Name)
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        @foreach (var thirdLevelChild in childStory.Stories)
                                        {                                    
                                            <td>
                                                <div class="sticky main-story sticky-shadow sticky-text">
                                                    @(thirdLevelChild.Name)
                                                </div>
                                            </td>                                    
                                        }
                                    </tr>                                    
                                </table>
                            </td>
                        </tr>
                    }
                </table>
            </td>                
            } 
        }
    </tr>
</table>
