@model StoryMapper.UI.Models.ProjectStoriesViewModel
@{
    ViewBag.Title = "Stories";
}
<h2>@(Model.ProjectName)</h2>
<table class="storyBoard">
    <tr>
        @{        
            foreach (var story in Model.Stories)
            {
            <td class="storyBoardColumn">
                <table class="storyBoard">
                    <tr>
                        <td class="storyBoardColumn">
                            <div class="sticky header-story sticky-shadow header-text">
                                @(story.Name)
                            </div>
                        </td>
                    </tr>
                    <tr>
                        @foreach (var childStory in story.Stories)
                        {                        
                            <td class="storyBoardColumn">
                                <table class="storyBoard">
                                    <tr>
                                        <td class="storyBoardColumn">
                                            <div class="sticky main-story sticky-shadow sticky-text">
                                                @(childStory.Name)
                                            </div>
                                        </td>
                                    </tr>
                                    @foreach (var thirdLevelChild in childStory.Stories)
                                    {                                    
                                        <tr>
                                            <td class="storyBoardColumn">
                                                <div class="sticky main-story sticky-shadow sticky-text">
                                                    @(thirdLevelChild.Name)
                                                </div>
                                            </td>
                                        </tr>                                    
                                    }
                                </table>
                            </td>                        
                        }
                    </tr>
                </table>
            </td>                
            } 
        }
    </tr>
</table>
